/* 思源宋體 *
@font-face { /* 思源宋體港版 */
  font-family: "Source Han Serif VF";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("https://fastly.jsdelivr.net/gh/adobe-fonts/source-han-serif@release/Variable/WOFF2/OTF/SourceHanSerifHC-VF.otf.woff2") format('woff2');
}
